html {
	margin:0;
	height: 190%;
	background: #eee4da59;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
body {
	margin: 0px;
	margin-bottom: 80px;
	padding-bottom: 100px;
	height: auto;
}
.mainColumn{
	border:0px solid #FF0000;
	margin:0px auto;
	margin-top: 30px;
	padding: 0px;
	width: 80%;
	max-width: 500px;
	height: 100%;
}
.inColumn{
	display: block;
	border:0px solid #bbada0;
	margin: 0px;
	width: 100%;
	max-width: 500px;
	height:112.8px;
}
h1.title{
	margin:0px;
	color: #776e65;
	font-weight: bold;
	font-size: 80px;
	/* float: left; */
}
canvas {
	border:15px solid #bbada0;
	border-radius:6px;
	margin: 40px auto 10px;
	/* width: 80%; */
	background: #eee4da;

	position:relative;
}

p {
	color: #776e65;
	font-size: 18px;
	margin: 0;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: rgb(187,173,160); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(143,122,102); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(143,122,102); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

p.sliderIndicator{
	text-align: right;
}

a{
	color:inherit;
	font-weight: bold;
}

hr{
	color: rgb(187,173,160);
}
button{
	background-color: rgb(143,122,102);
	border-radius: 3px;
	border-style:solid;
	border-width: 0px;
	padding: 0 20px;
	height: 40px;
	cursor: pointer;
	border-color: rgb(143,122,102);
	font:inherit;
	font-size: 18px;
	color:#f9f6f2;
	font-weight: bold;
	box-shadow: none;
	position:relative;
	margin:0px;
}
button:hover {
  background-color: rgb(123,102,82);
  color: white;
}
.tabL {
	margin-left: 30px;
}

.tabR {
	margin-right: 30px;
}
.darker{
	background-color: rgb(232,229,219);
}
.container{
	display:flex;
	width:100%;
}
.typicalFlex{
	flex-grow: 1;
}
.subtitle{
	margin: 15px auto;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
.note{
	font-size: 12px;
	text-align: center;
}
